@model IEnumerable<dataModelClasses.Product>

@{
    ViewBag.Title = "Products";
}

<h2>Browse Products</h2>
<p>There are @Model.Count() products:</p>

<ul>
    @foreach (var p in Model)
    {
        <li> @p.Name - @String.Format("{0:c}", p.Price)</li>

    }
</ul>


